<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
        <title>{{htmlWebpackPlugin.options.title}}</title>
    </head>
    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>
        
        <main class="container">
            {{> hero_heading.template text="Vanilla JS & Scss" linkText="Go to second page" href="about.html"}}
        </main>
    </body>
</html>